<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="stats-963">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-number">100</span>
                <span class="cs-desc">Natural Styles</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">25+</span>
                <span class="cs-desc">Products</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">5K+</span>
                <span class="cs-desc">Clients</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">15</span>
                <span class="cs-desc">Color Shades</span>
            </li>
        </ul>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/salon3-m.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/salon3.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/salon3.jpg" alt="brick Wall" width="1920" height="1282" aria-hidden="true">
        </picture>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/marble-m.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/marble.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/marble.jpg" alt="brick Wall" width="1920" height="1282" aria-hidden="true">
    </picture>
</section>
                                