<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-1267">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our services</span>
            <h2 class="cs-title">We offer project management services</h2>
            <p class="cs-text">We can help you design your project and develop a comprehensive plan to ensure that it meets your specific needs and requirements. Our team of architects and engineers will work closely with you to create a design that is both functional and aesthetically pleasing.</p>
            <a href="" class="cs-button-solid" aria-label="learn more about us">Learn More</a>
        </div>
        <div class="cs-wrapper">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <picture class="cs-picture">
                            <img class="cs-icon" aria-hidden="true"
                                    src="https://csimg.nyc3.digitaloceanspaces.com/Services/two-people.svg" alt="svg icon"
                                    width="37" height="29" loading="lazy" decoding="async">
                        </picture>
                        Workers
                    </h3>
                    <span class="cs-number">500+</span>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida, ex in commodo euismod, justo nisi bibendum libero,
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <picture class="cs-picture">
                            <img class="cs-icon" aria-hidden="true"
                                    src="https://csimg.nyc3.digitaloceanspaces.com/Services/line-graph.svg" alt="svg icon"
                                    width="37" height="29" loading="lazy" decoding="async">
                        </picture>
                        Experience
                    </h3>
                    <span class="cs-number">12 Years</span>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida, ex in commodo euismod, justo nisi bibendum libero,
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <picture class="cs-picture">
                            <img class="cs-icon" aria-hidden="true"
                                    src="https://csimg.nyc3.digitaloceanspaces.com/Services/briefcase2.svg" alt="svg icon"
                                    width="37" height="29" loading="lazy" decoding="async">
                        </picture>
                        Current Projects
                    </h3>
                    <span class="cs-number">100+</span>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida, ex in commodo euismod, justo nisi bibendum libero,
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <picture class="cs-picture">
                            <img class="cs-icon" aria-hidden="true"
                                    src="https://csimg.nyc3.digitaloceanspaces.com/Services/three-bars.svg" alt="svg icon"
                                    width="37" height="29" loading="lazy" decoding="async">
                        </picture>
                        Awards Winner
                    </h3>
                    <span class="cs-number">200+</span>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida, ex in commodo euismod, justo nisi bibendum libero,
                    </p>
                </li>
            </ul>
            <picture class="cs-background">
                <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/orange-waves.png" alt="waves">
            </picture>
        </div>
    </div>
</section>
                                