<!-- ============================================ -->
<!--            Side By Side Reverse              -->
<!-- ============================================ -->

<section id="sbsr-1599">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Statistics</span>
            <h2 class="cs-title">Accessible Wardrobe That Women Can Wear</h2>
            <p class="cs-text">
                Dive into the exhilarating world of fishing with Gill Rush, a dynamic and electrifying apparel brand designed exclusively for those who live for the rush of the catch. For avid anglers who feel the pulse quicken at the mere tug on their line, Gill Rush captures the essence of that heart-pounding moment when fish and fisherman lock in a fierce dance of skill and strategy.
            </p>
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people.jpg" alt="people" width="608" height="406">
            </picture>
        </div>
        <div class="cs-stats-group">
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/model2.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/model2.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/model2.jpg" alt="people" width="608" height="662">
            </picture>
            <ul class="cs-stats">
                <li class="cs-stat">
                    <span class="cs-number">99%</span>
                    <span class="cs-desc">Positive feedback</span>
                </li>
                <li class="cs-stat">
                    <span class="cs-number">10</span>
                    <span class="cs-desc">Days free return policy</span>
                </li>
                <li class="cs-stat">
                    <span class="cs-number">24/7</span>
                    <span class="cs-desc">Online customer support</span>
                </li>
            </ul>
        </div>
    </div>
</section>
                                