/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #stats-963 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
    }
    #stats-963 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        /* 48px - 100px */
        gap: clamp(3rem, 8vw, 6.25rem);
    }
    #stats-963 .cs-card-group {
        width: 100%;
        /* changes to 100% at large desktop */
        max-width: 39rem;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 1.875rem;
        position: relative;
    }
    #stats-963 .cs-card-group:before {
        /* long center line */
        content: "";
        width: 100%;
        height: 1px;
        background: var(--primary);
        opacity: 0.4;
        position: absolute;
        display: block;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    #stats-963 .cs-item {
        text-align: center;
        list-style: none;
        width: 50%;
        display: block;
        position: relative;
    }
    #stats-963 .cs-item:nth-of-type(odd) {
        /* short vertical loines */
    }
    #stats-963 .cs-item:nth-of-type(odd):before {
        content: "";
        width: 1px;
        height: 5rem;
        background: var(--primary);
        opacity: 0.4;
        position: absolute;
        display: block;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
    #stats-963 .cs-number {
        /* 64px - 120px */
        font-size: clamp(4rem, 16vw, 7.5rem);
        font-weight: 900;
        line-height: 1.2em;
        -webkit-text-stroke: 2px var(--primary);
        -webkit-text-fill-color: transparent;
        margin: 0;
        color: var(--bodyTextColorWhite);
        display: block;
    }
    #stats-963 .cs-desc {
        /* 13px -25px */
        font-size: clamp(0.8125rem, 3.5vw, 1.5625rem);
        line-height: 1.2em;
        text-transform: uppercase;
        font-weight: 700;
        margin: 0;
        color: var(--bodyTextColorWhite);
    }
    #stats-963 .cs-picture {
        width: 100%;
        /* 328px - 640px */
        height: clamp(20.5rem, 45vw, 38.75rem);
        display: block;
        position: relative;
    }
    #stats-963 .cs-picture img {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }
    #stats-963 .cs-background {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
        z-index: -1;
    }
    #stats-963 .cs-background img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #stats-963 .cs-card-group {
        max-width: 100%;
        flex-wrap: nowrap;
    }
    #stats-963 .cs-card-group:before {
        display: none;
    }
    #stats-963 .cs-card-group .cs-item {
        /* short vertical loines */
    }
    #stats-963 .cs-card-group .cs-item:last-of-type:before {
        display: none;
    }
    #stats-963 .cs-card-group .cs-item:before {
        content: "";
        width: 1px;
        height: 5rem;
        background: var(--primary);
        opacity: 0.4;
        position: absolute;
        display: block;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}
/* Big Desktop Parallax Effect - 1500px */
@media only screen and (min-width: 93.75rem) {
    #stats-963 .cs-background {
        background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/marble.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    #stats-963 .cs-background img {
        display: none;
    }
}

                                