<!-- ============================================ -->
<!--                Contact Form                  -->
{{!-- DODAJ NIP w formularzu --}}
<!-- ============================================ -->

<section id="cs-contact-242">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Here To Help</span>
            <h2 class="cs-title">Contact Us</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque enim risus lorem diam. Viverra egestas penatibus feugiat vitae in dignissim.
            </p>
        </div>
        <!-- Form -->
        <form id="cs-form-242" name="Contact Form" method="post">
            <label class="cs-label">
                Imię *
                <input class="cs-input" required type="text" id="name-242" name="name" placeholder="John/Jane Doe">
            </label>
            <label class="cs-label">
                Emailxx
                <input class="cs-input" required type="text" id="email-242" name="email" placeholder="name@company.com">
            </label>
            <label class="cs-label">
                Phone
                <input class="cs-input" required type="text" id="phone-242" name="phone" placeholder="+1 (206) 987-6543">
            </label>
            <label class="cs-label">
                How Did You Find Us
                <input class="cs-input" type="text" id="find-242" name="find-us" placeholder="Social Media, Family, Friend...">
            </label>
            <label class="cs-label cs-label-message">
                Message
                <textarea class="cs-input cs-textarea" required name="Message" id="message-242" placeholder="Hello, I’m interested in..."></textarea>
            </label>
            <button class="cs-button-solid cs-submit" type="submit">Submit Message Now</button>
        </form>
        <!-- Contact Info -->
        <div class="cs-right-section">
            <ul class="cs-ul">
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img aria-hidden="true" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/mail.svg" alt="mail icon" class="cs-icon" width="36" height="36" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Email</span>
                        <a href="mailto:support@yourdomain.com" class="cs-link">support@yourdomain.com</a>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img aria-hidden="true" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/phone.svg" alt="phone icon" class="cs-icon" width="36" height="36" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Phone</span>
                        <a href="tel:206-987-6543" class="cs-link">(206) 987-6543</a>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img aria-hidden="true" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/pin.svg" alt="address icon" class="cs-icon" width="36" height="36" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Address</span>
                        <a href="" class="cs-link"><span class="cs-block">2553 Woodbridge Lane,</span> Boston Ware 120</a>
                    </div>
                </li>
            </ul>
            <!-- Picture -->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="https://images.pexels.com/photos/3184465/pexels-photo-3184465.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                <source media="(min-width: 601px)" srcset="https://images.pexels.com/photos/3184465/pexels-photo-3184465.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/map.jpg" alt="google map" width="462" height="438">
            </picture>
        </div>
    </div>
</section>
                                