<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->
{{!-- DODAJ NIP w formularzu --}}
{{!-- https://odbierz.faktorone.pl/?_gl=1*tq4551*_ga*MTYwNjI0NDY2Ny4xNzA5MTMwNzM2*_ga_3WQ95EQH2W*MTcwOTEzMDczNS4xLjEuMTcwOTEzMDc4Ni41MS4wLjA. --}}
{{!-- zgody do formularza --}}
<section id="contact-984">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://images.pexels.com/photos/4065158/pexels-photo-4065158.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://images.pexels.com/photos/4065158/pexels-photo-4065158.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
            <img loading="lazy" decoding="async" src="https://images.pexels.com/photos/4065158/pexels-photo-4065158.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="friends" width="904" height="754">
        </picture>
        <div class="cs-right">
            <div class="cs-content">
                <span class="cs-topper">Contact Us</span>
                <h2 class="cs-title">Make Appointment</h2>
            </div>
            <!--Form-->
            <form class="cs-form" id="cs-form-587-984" name="Contact Form" method="post">
                <label class="cs-label">
                    Nazwa *
                    <input class="cs-input" required type="text" id="name-587-984" name="name" placeholder="Name">
                </label>
                <label class="cs-label">
                    Osoba kontaktowa *
                    <input class="cs-input" required type="text" id="phone-587-984" name="phone" placeholder="Phone">
                </label>
                <label class="cs-label">
                    Telefon *
                    <input class="cs-input" required type="text" id="phone-587-984" name="phone" placeholder="Phone">
                </label>

                <label class="cs-label">
                    Email *
                    <input class="cs-input" required type="text" id="email-587-984" name="email" placeholder="Email">
                </label>
                <label class="cs-label">
                    Nip *
                    <input class="cs-input" required type="text" id="phone-587-984" name="phone" placeholder="Phone">
                </label>

                <label class="cs-label cs-message">
                    Wiadomość
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-587-984" placeholder="Write message..."></textarea>
                </label>
                <label>
                    <input type="checkbox" name="" id="">
                    Wyrażam zgodę...
                </label>
                <button class="cs-button-solid cs-submit" type="submit">Schedule Appointment</button>
            </form>
        </div>
    </div>
</section>
                                