<!-- ============================================ -->
<!--                    Stats                     -->
<!-- ============================================ -->

<section id="stats-1229">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">YOU'RE IN GOOD COMPANY</span>
                <h2 class="cs-title">2,000+ Company Taking Investment from Us</h2>
                <p class="cs-text">
                    In the new era of technology we look in the future with certainty and pride for our company and business. consider all the drivers of change gives you the blocks & pride for our components you need to change to create a truly professional website era.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/transparency.svg" alt="icon"
                        class="cs-icon" aria-hidden="true" decoding="async" width="60" height="60">
                    <h3 class="cs-h3">Transparency</h3>
                </li>
                <li class="cs-item">
                    <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/empowerment.svg" alt="icon"
                        class="cs-icon" aria-hidden="true" decoding="async" width="60" height="60">
                    <h3 class="cs-h3">Empowerment</h3>
                </li>
                <li class="cs-item">
                    <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/growth.svg" alt="icon" class="cs-icon"
                        aria-hidden="true" decoding="async" width="60" height="60">
                    <h3 class="cs-h3">Growth</h3>
                </li>
                <li class="cs-item">
                    <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/partnership.svg" alt="icon"
                        class="cs-icon" aria-hidden="true" decoding="async" width="60" height="60">
                    <h3 class="cs-h3">Partnership</h3>
                </li>
            </ul>
        </div>
        <ul class="cs-stat-group">
            <li class="cs-stat">
                <span class="cs-desc">Individual Offices</span>
                <span class="cs-number">15+</span>
            </li>
            <li class="cs-stat">
                <span class="cs-desc">Years of Experiences</span>
                <span class="cs-number">12+</span>
            </li>
            <li class="cs-stat">
                <span class="cs-desc">Professional Team</span>
                <span class="cs-number">350</span>
            </li>
            <li class="cs-stat">
                <span class="cs-desc">Projects Completed</span>
                <span class="cs-number">375</span>
            </li>
            <li class="cs-stat">
                <span class="cs-desc">Happy Clients</span>
                <span class="cs-number">2.5k+</span>
            </li>
        </ul>
    </div>
</section>
                                