
@use "./snitches/typography";
@use "./snitches/variables";
@use "./snitches/global";

// Snitches
@use "./snitches/headers/header-standard";
// @use "./snitches/headers/header-dropdown";
// @use "./snitches/heroes/hero-one";
@use "./snitches/heroes/hero-two";
@use "./snitches/stats/one";
@use "./snitches/services/service-one";
@use "./snitches/sidebyside/sbs-one";
@use "./snitches/sidebyside/sbs-two";
@use "./snitches/footers/footer-one";
@use "./snitches/form/form-one";
@use "./snitches/form/form-two";
@use "./snitches/about/about-one";
@use "./snitches/stats/stats-two";
@use "./snitches/stats/stats-three";
@use "./snitches/logos/logos-one";
@use "./snitches/cta/cta-one";
@use "./snitches/faq/faq-one";
@use "./snitches/table/table-one";
.d-none{
    display: none!important;
}
.text-white{
    color: #fff!important;
}

body{scroll-behavior: smooth;}