/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #contact-984 {
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: calc(48 / 16 * 1rem);
        }

        .cs-content {
            /* set text aling to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin: 0;
        }

        .cs-right {
            width: 100%;
            /* changes to 630px at desktop */
            max-width: calc(584 / 16 * 1rem);
            /* moved section padding to the content so the picture can be full width */
            padding: var(--sectionPadding);
            padding-top: 0;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: calc(40 / 16 * 1rem);
        }

        .cs-form {
            width: 100%;
            padding: 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            flex-direction: column;
            gap: calc(12 / 16 * 1rem);
        }

        .cs-label {
            font-size: calc(16 / 16 * 1rem);
            width: 100%;
            color: var(--headerColor);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: calc(8 / 16 * 1rem);
        }

        .cs-input {
            font-size: calc(16 / 16 * 1rem);
            width: 100%;
            height: calc(56 / 16 * 1rem);
            padding: 0;
            padding-left: calc(24 / 16 * 1rem);
            color: var(--headerColor);
            background-color: #f7f7f7;
            border: none;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            transition: border-color 0.3s;
            &:hover {
                border-color: var(--secondary);
            }
            &:focus {
                outline: 1px solid var(--secondary);
            }
            &::placeholder {
                color: #767676;
                opacity: 0.8;
            }
        }

        .cs-textarea {
            min-height: calc(120 / 16 * 1rem);
            padding-top: calc(24 / 16 * 1rem);
            margin-bottom: calc(28 / 16 * 1rem);
            font-family: inherit;
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(32 / 16 * 1rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-submit {
            min-width: calc(214 / 16 * 1rem);
            border: none;
            border-radius: 0;
            &:hover {
                cursor: pointer;
            }
        }

        .cs-picture {
            display: block;
            position: relative;
            width: 100%;
            /* 360px - 600px */
            height: clamp(22.5rem, 100vw, 37.5rem);

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #contact-984 {
        padding: var(--sectionPadding);
        position: relative;

        .cs-container {
            flex-direction: row;
            justify-content: flex-end;
        }

        .cs-form {
            max-width: calc(630 / 16 * 1rem);
        }

        .cs-content {
            text-align: left;
            align-items: flex-start;
        }

        .cs-form {
            align-items: flex-start;
        }

        .cs-picture {
            position: absolute;
            height: 100%;
            width: 44%;
            right: 50%;
            /* 70px - 88px */
            margin-right: clamp(4.375rem, 7vw, 5.5rem);
        }

        .cs-right {
            width: 50%;
            max-width: calc(630 / 16 * 1rem);
            padding: 0;
        }
    }
}

                                